extends style

append content
    div.note 网站功能建设中，现在仅报名功能可用。
    div.note 点击下面的按钮即可报名。

    br

    div
        a(href="/user/register").button 报名志愿者

    br

    p
        |想和我们一起去边爬山边做环保卫士吗？<br/>想和我们一起去孤儿院里带给那些孩子们欢笑吗？<br/>想和我们一起去老人院带给那些老人温暖吗？<br/>想和我们一起建设学校吗？
    p
        |矢志服务，成就美丽人生。<br/>志愿服务，传递温暖笑容。
    
    img.autoimg(src="/images/volunteer.jpg")
