extends style

block content
    h2 加入志愿者
    form#form(action="#",method="post")
        div
            label 姓名
            input#fullname(type="text", name="fullname")

        div
            label 手机
            input#username(type="text", name="username")
        
        div
            label 班级
            input#class(type="text", name="class")

        div
            label 性别
            select#gender(name="gender")
                option(value="female") 女
                option(value="male") 男
                option(value="other") 其他

        div
            label 密码
            input#password(type="password", name="password")

        div.note - 以下选填 -
        
        div
            label 邮箱
            input#email(type="text", name="email")

        div
            label 意向
            select#want(name="want")
                option(value="none") 无
                option(value="leader") 理事长
                option(value="organize") 组织部
                option(value="publicize") 宣传部
                option(value="contact") 外联部

        div
            label 建议
            input#advice(type="text", name="advice")

        div
            input.button(type="submit", value="加入")

