extends style

block append head
    script(src='/javascripts/psafe.js')

block content
    h2 登录
    form#form(action="#",method="post")
        div
            label 手机
            input#username(type="text", name="username")

        div
            label 密码
            input#password(type="password", name="password")

        div
            input.button(type="submit", value="登录")
